<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center my-3">
    <div class="col-10 col-md-8 col-lg-6">
      <h2>Sign up</h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :username,
                      required: true,
                      autofocus: true %>
        <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
        <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
      </div>

      <div class="d-flex justify-content-between">
        <div class="form-actions">
          <%= f.button :submit, "Sign up", class: "btn btn-dark my-auto" %>
        </div>
        <% end %>
        <div class="text-right my-auto">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>