<div class="row justify-content-left offers-container">
  <% offers.each do |offer| %>
    <% offer.bookings.each do |booking| %>
      <div class="card m-2" style="width: 18rem;">
        <% if offer.photo.attached? %>
          <%= cl_image_tag offer.photo.key, width: 400, class: "image_preview_dashboard" %>
        <% else %>
          <%= image_tag "https://cdn.dribbble.com/users/1787323/screenshots/14113017/media/f8632f8c42e53263256b94e6e575c3df.png?compress=1&resize=800x600", crop: :fill %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= link_to offer.title.capitalize, offer_path(offer) %></h5>
          <p>Par: <%= booking.user.username %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Du: <%= booking.start_date.strftime('%d/%m/%Y') %></li>
          <li class="list-group-item">Au: <%= booking.end_date.strftime('%d/%m/%Y') %></li>
        </ul>
        <div class="card-body">
          <% if booking.status == true %>
            <h5>Acceptée!</h5>
          <% elsif booking.status == false %>
            <h5>Refusée</h5>
          <% elsif booking.offer.user_id == current_user.id %>
            <%= link_to "Accepter", booking_path(booking, params: {accept: "accepted"}), method: :patch, class: "btn btn-success" %>
            <%= link_to "Refuser", booking_path(booking, params: {accept: "declined"}), method: :patch, class: "btn btn-danger" %>
          <% else %>
            <h5>En attente de réponse...</h5>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
