  <div class="card_global col-10 col-md-6 col-lg-4 p-2">
    <div class="card-product">
      <% if offer.photo.attached? %>
        <%= cl_image_tag offer.photo.key, height: 300, width: 400, crop: :fill, class: "image_preview" %>
      <% else %>
        <%= image_tag "https://cdn.dribbble.com/users/1787323/screenshots/14113017/media/f8632f8c42e53263256b94e6e575c3df.png?compress=1&resize=800x600", width: 100 %>
      <% end %>
      <div class="card-product-infos align-self-center flex-fill bd-highlight">
        <h2><%= link_to offer.title.capitalize, offer_path(offer), data: {turbolinks: false } %></h2>
        <h5><%= offer.item.capitalize %></h5>
        <p><%= offer.location.capitalize %></p>
        <p><%= offer.price_per_day %>€ / jour</p>
      </div>
    </div>
  </div>

