<div class="container col-10 d-flex align-items-center">
  <div class="first-box row justify-content-between">
    <div class="col-12 col-lg-6 d-flex-column">
      <h1>Louez une console en quelques clics</h1>
      <p>Louez des jeux, des manettes pour une après-midi, une journée, une semaine et enjoy ! </p>

      <div class="form-group">

        <%= form_tag offers_path, method: :get do %>
          <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "Que cherchez-vous ?" %>
          <%= submit_tag "Chercher", class: "btn btn-dark mt-3 " %>
        <% end %>
      </div>

    </div>
    <div class="col-12 col-lg-5 d-flex align-items-center">
      <%= image_tag "https://cdn.dribbble.com/users/1787323/screenshots/14113017/media/6100e76fe57f7d61512b05e536820b94.png?compress=1&resize=800x600", width: "100%" %>
    </div>
  </div>
</div>
<div class="container">
  <%= render "shared/simple_cards_index", offers: @offers %>
</div>
