<div class="container">
  <h1>Détails</h1>
  <h2 class="mt-5 mb-5"><%= @offer.title%></h2>

  <div class="show-container">
    <div class="col-5">
      <% if @offer.photo.attached? %>
        <%= cl_image_tag @offer.photo.key, height: 300, width: 400, crop: :fill, class: "image_preview" %>
      <% else %>
        <%= image_tag "https://cdn.dribbble.com/users/1787323/screenshots/14113017/media/f8632f8c42e53263256b94e6e575c3df.png?compress=1&resize=800x600", width: "100%" %>
      <% end %>
      <div class="btn btn-dark my-2 wide-btn">Réserver</div>
    </div>

    <div class="col-3">
      <div class="bg-secondary text-white mb-1 offer-token">À récupérer:
        <%= @offer.location %>
      </div>
      <div class="bg-secondary text-white mb-1 offer-token">À partir du:
        <%= @offer.start_date.strftime('%d/%m/%Y') %>
      </div>
      <div class="bg-secondary text-white mb-1 offer-token">Jusqu'au:
        <%= @offer.end_date.strftime('%d/%m/%Y') %>
      </div>
      <div class="bg-secondary text-white mb-1 offer-token">Console:
        <%= @offer.item %>
      </div>
      <div>
        <h5 class="title">Description</h5>
        <div class="text"><%= @offer.description %></div>
      </div>
      <div>
        <h5 class="title">Prix à la journée</h5>
        <div class="text"><%= @offer.price_per_day %></div>
      </div>
    </div>
    <div class="col-4">

    <div>
      <% if policy(@offer).edit? %>
        <%= link_to "Modifier", edit_offer_path(@offer) %>
      <% end %>
    </div>
    <div>
      <% if policy(@offer).destroy? %>
        <%= link_to "Supprimer", offer_path(@offer), method: :delete, data: { confirm: "Etes-vous sûr de vouloir supprimer cette offre?" } %>
      <% end %>
    </div>
    </div>
  </div>
</div>
